
<ion-segment>
  <ion-segment-button value="first" content-id="first">
    <ion-label>Action-sheet</ion-label>
  </ion-segment-button>
  <ion-segment-button value="second" content-id="second">
    <ion-label>Accordion</ion-label>
  </ion-segment-button>
  <ion-segment-button value="third" content-id="third">
    <ion-label>Alert</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-segment-view>
  <ion-segment-content id="first">
    <app-action-sheet></app-action-sheet>
  </ion-segment-content>
  <ion-segment-content id="second">
    <app-accordion></app-accordion>
  </ion-segment-content>
  <ion-segment-content id="third">
    <!-- <app-alert></app-alert> -->
  </ion-segment-content>
</ion-segment-view>
